#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.info__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.3rem;
   
    width: 100%;
}

.footer__header{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 10.9999999rem;
    margin-top: 3rem;
    height: 15vh;
    margin-bottom: 1.5rem;
}
.info__contact{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: .1rem;
}

.info__redes {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
}
.footer__copyright p{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    
}
.info__redes a{
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .footer__header{
        gap:.1rem ;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        gap: 5rem;
    }
    .logo{
        display: none;
    }
    .info__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .1rem;
    }
}