.theme-toggle-wrapper {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #00000020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 4px;
  border: 1px solid #999;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;

  .icon {
    z-index: 2;
    font-size: 12px;
    align-items: center;
    color: #333;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right: 1px;
  }

  .slider {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    top: 1px;
    left: 2px;
    margin-top: 2px;
    transition: transform 0.3s ease;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
  }

  &.dark {
    border-color: #f9f9f9;

    .icon {
      color: #fff;
      font-size: 1rem;
      align-self: center;
    }

    .slider {
      background-color: #13223b;
      transform: translateX(32px);
    }
  }

  &.light {
    border-color: #f9f9f9;

    .icon {
      color: #0F172A ;
      font-size: 1rem;
      
    }

    .slider {
      background-color: #fff;
      transform: translateX(0);
    }
  }
}
