/* GLOBAL STYLES*/
.container {
  max-width: 1200px;
  padding: 0 100px;
  margin: 10px auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1d1b1b;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

/*END GLOBAL STYLES*/
#header{
    box-shadow: 0px 6px 5px #00F6FF;
}
.info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.navbar-brand span {
    color: #00F6FF;
}
.navbar-brand:hover{
    color: #00F6FF;
    text-shadow:0 0 5px #00F6FF;
}
.navbar-nav{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.navbar-items{
    font-size: 1.009rem;
    padding: 10px;
}
.navbar-link{
    color: #a7a7a7;
    text-decoration: none;
    transition: color 1s ;
}
.navbar-link:hover{
    color: #00F6FF;
    border-bottom:2px solid #00F6FF;
}
.btn{
    color: #a7a7a7;
    font-size: 20px;
    padding: 10px;
}